extends ../_templates/_layouts/default.pug


block vars
  - title = 'Matt Medal · Résumé'
  - navPage = 'resume'


block content
  .resume
    .res-contact
      strong Email:&nbsp;
      a(href='mailto:matt.medal@gmail.com', target='_blank') matt.medal@gmail.com
      br
      strong Phone:&nbsp;
      a(href='tel://1-408-460-2148') (408) 460-2148
      br
      strong GitHub:&nbsp;
      a(href='https://github.com/mmedal', target='_blank') github.com/mmedal
      br
      strong LinkedIn:&nbsp;
      a(href='https://www.linkedin.com/in/mmedal', target='_blank') linkedin.com/in/mmedal
    .section
      h2 TLDR
      .subsection
        p Résumés are long. Start (and maybe end) here.
        ul
          li I love getting stuff done with python and node, but am most excited by Elixir and Ocaml/Reason.
          li I love open source software and contributing to the projects I use.
          li I love white hat shenanigans. Ask, and I'll regale you with a tale or two.
          li I love playing video games, making electronic music, and drinking hazy IPAs.
          li I dislike mediocre stand-up comedy, spiders, and Java of the non-coffee variety.
        p If we agree on the above, maybe we're a good fit for each other!
    .section
      h2 Job Experience
      .subsection
        h3
          span Software Engineer
          |  at eBay
          small May 2013 - Current | 5 years
        p Full stack engineer for eBay's storage team, developing scalable applications for management, automation, insight, and performance monitoring for all of eBay's production data.
        ul
          li As one of the most trafficked sites in the world, eBay deals in petabytes of data. I spent 5 years developing the core applications that power eBay's modern storage environment and empower its ops team.
          li Working on a small dev team had me getting my hands dirty up and down the stack. I have built everything from large-scale webapps to RESTful microservices to reactive frontends to job-processing backends and everything inbetween!
          li I love using services like Travis or GCP for my personal projects, but I didn't have the pleasure of using them at work. That means I had to hunker down and administer my own CICD and software deployment solutions.
          li Highlighted tech: nodejs, python, django, celery, react, graphite, docker, kubernetes, postgres.
      .subsection
        h3
          span Software Engineer Intern
          |  at eBay
          small 2012 | Summer
        p Backend developer for eBay's QA team, developing automation and monitoring to empower QA system admins.
        ul
          li Developed a suite of tools for monitoring and reporting all of QA's SAN/NAS storage usage, allowing for better hardware purchase planning.
          li Developed a robust replacement for traditional SNMP/log-based monitoring for thousands of assets. Think in-house elastic search or logstash before they were cool.
    .section
      h2 Skills
      .subsection
        h3
          span Software Development
        p Experience in practical software development, developer processes and workflows in team environments, opensource contributions, developer tooling, and a solid foundation in critical thinking, algorithms, and data structures.
        ul
          li
            strong Programming languages
            | : Python (extremely proficient), Javascript ES6 (very proficient), Elixir (familiar), Java (familiar), Golang (familiar), Objective C (familiar), C++ (familiar).
          li
            strong Development workflow
            | : Agile-ish (because you never go full agile!) + github + pull requests + code reviews.
          li
            strong Linux fluency
            | : Can curl, vim, cat, pipe, and get things done in a shell (preferably zsh) like a champ!
        h3
          span Leadership
        p Experience in leading the design and development of green-field software projects, interviewing new software engineer candidates, and onboarding, mentoring, and time management of new employees/contractors.
    .section
      h2 Personal Projects
      .subsection
        p I've worked on a lot of cool projects, but here are a couple of my favorites:
        h3 <a href="https://www.soundcasts.net">soundcasts.net</a>
        p I like to listen to EDM podcasts while I work, but many of my favorite artists put their radio shows in an indigestible state on soundcloud. Soundcasts turns an artist's soundcloud profile into an easily followed podcast!
      .subsection
        h3 <a href="https://github.com/mmedal/magicbot">Magicbot</a>
        p My coworkers made an #mtg channel on Slack to talk about the latest Magic cards. I made a slack bot for #mtg that displays the images of referred-to cards.
    .section
      h2 Education
      .subsection
        h3
          | Santa Clara University
          small Class of 2014 | Santa Clara, CA
        p Bachelor of Science, Computer Science
