extends ../_templates/_layouts/default.pug


block vars
  - title = 'Matt Medal · Résumé'
  - navPage = 'resume'


block content
  .resume
    .res-contact
      strong Email:&nbsp;
      a(href='mailto:matt.medal@gmail.com', target='_blank') matt.medal@gmail.com
      br
      strong GitHub:&nbsp;
      a(href='https://github.com/mmedal', target='_blank') github.com/mmedal
      br
      strong LinkedIn:&nbsp;
      a(href='https://www.linkedin.com/in/mmedal', target='_blank') linkedin.com/in/mmedal
    .section
      h2 Job Experience
      .subsection
        h3
          span Principal Software Engineer
          |  at brightwheel
          small April 2018 - Current | 5 years
        p Started as the 4th backend engineer at sub-30 employees (now >500). Spent my first two years focused on developing many of brightwheel's core product features before shifting my primary focus over to infrastructure scaling, technical planning, and developer efficiency.
        ul
          li Designed/implemented many pieces of core product functionality such as brightwheel's messaging and enrollment platforms; working closely with leadership, product managers, designers, and other engineers.
          li Co-designed/implemented brightwheel's main billing product, paving the way for billions of dollars processed and major revenue growth.
          li Lead designer and contributor on many platform initiatives including our Heroku to AWS EKS migration, CI/CD, API Doc generation, rolling app deployments, gitops for all infrastructure, a centralized custom DAL for a multi-replica Postgres deployment, and much more!
          li Go-to on-call responder, responsible for diagnosing and resolving 100's of intricate site issues in app code, networking, database performance, and everything in-between.
          li Continually mentored 20+ engineers of all levels, educating and facilitating strong problem solving capabilities and influencing software/infra design and rollout principles.
          li Highlighted tech: Ruby on Rails, Postgres, Redis, Kubernetes, Flux, AWS, CircleCI
        h3
          span Senior Software Engineer
          |  at eBay
          small May 2013 - April 2018 | 5 years
        p Full stack engineer for eBay's storage team, developing scalable applications for management, automation, insight, and performance monitoring for all of eBay's production data.
        ul
          li As one of the most trafficked sites in the world, eBay deals in petabytes of data. I spent 5 years developing the core applications that power eBay's modern storage environment and empower its ops team.
          li Working on a dev team of 3, I built and maintained large-scale webapps, microservices, reactive frontends, job-processing backends, data-stores, etc.
          li Cloud services are great, but at the time, eBay's size means rolling many things by hand. This meant administering our own CI/CD, k8s deployment solutions, databases, monitoring platforms, etc.
          li Highlighted tech: nodejs, python, django, celery, react, graphite, docker, kubernetes, postgres.
      .subsection
        h3
          span Software Engineer
          |  at eBay
          small May 2012 - June 2013 | 1 year
        p Backend developer for eBay's QA team, developing automation and monitoring to empower QA system admins.
        ul
          li Developed a suite of tools for monitoring and reporting all of QA's SAN/NAS storage usage, allowing for better hardware purchase planning.
          li Developed a robust replacement for traditional SNMP/log-based monitoring for thousands of assets. Think in-house elastic search or logstash before they were cool (and then not cool).
    .section
      h2 Skills
      .subsection
        h3
          span Software Development
        p Strong experience in practical software development, developer workflows in team environments, platform engineering, and a solid foundation in critical thinking, algorithms, and data structures.
        h3
          span Technical Leadership & Systems Design
        p Proven track record leading the design and development of complex engineering initiatives and building/mentoring an engineering team from nothing.
        h3
          span Getting It Done
        p I learn and adapt skill sets as needed to solve practical business problems. My driving methodology is to provide iterative value through fully informed decision-making and keeping solutions as simple as possible.
    .section
      h2 Education
      .subsection
        h3
          | Santa Clara University
          small Class of 2014 | Santa Clara, CA
        p Bachelor of Science, Computer Science
