div.footer.no-print
  div.left
    p
      a(href='mailto:matt.medal@gmail.com', target='_blank')
        span.isf-envelope-o
      a(href='https://github.com/mmedal', target='_blank')
        span.isf-github
      a(href='https://www.soundcloud.com/median', target='_blank')
        span.isf-soundcloud
      a(href='https://www.linkedin.com/in/mmedal', target='_blank')
        span.isf-linkedin

  div.right
    p
      a(href='https://github.com/mmedal/www', target='_blank')
        | Source Code
