div.footer.no-print
  p
    a(href='mailto:matt.medal@gmail.com', target='_blank')
      e-mail
    a(href='https://github.com/mmedal', target='_blank')
      github
    a(href='https://www.linkedin.com/in/mmedal', target='_blank')
      linkedin
