- a = 'active'


.header
  span
    a(href='/') MATT MEDAL
  div.no-print
    div(class=(navPage === 'home' ? a : ''))
      a(href='/') Home
    div(class=(navPage === 'blog' ? a : ''))
      a(href='/blog') Blog
    div(class=(navPage === 'resume' ? a : ''))
      a(href='/resume') Résumé
