- a = 'active'


.header
  h1
    a(href='/') MATT MEDAL
  ul.no-print
    li(class=(navPage === 'home' ? a : ''))
      a(href='/') Home
    li(class=(navPage === 'blog' ? a : ''))
      a(href='/blog') Blog
    li(class=(navPage === 'resume' ? a : ''))
      a(href='/resume') Résumé
