extends ./_templates/_layouts/default.pug


block content
  .home
    h2 Who am I?
    p I'm Matt, a software engineer living in the San Francisco Bay Area.
    h2 Where do I work?
    p Previously <strong>@ebay</strong> and <strong>@brightwheel</strong>, I'm currently making apps, games, and art at my studio, <a href="https://circuitnestgames.com" target="_blank">Circuit Nest Games</a>.
    h2 What else?
    p Besides quality software, I enjoy spending time with my wife and daughter, playing video games, and everything related to craft beer/coffee.
