extends ./_templates/_layouts/default.pug


block content
  .home
    h2 Who am I?
    p I'm Matt, a principal software engineer currently living in the San Francisco Bay Area.
    h2 Where do I work?
    p For the past 5 years, I've been developing the best product in early education & growing an engineering team from startup to scale at brightwheel.
    h2 What else?
    p Besides quality software, I enjoy spending time with my wife and daughter, playing video games, and everything related to craft beer/coffee.
    h2 Contact me!
    ul.contact
      li
        em Email:&nbsp;&nbsp;
        a(href='mailto:matt.medal@gmail.com', target='_blank') matt.medal@gmail.com
      li
        em GitHub:&nbsp;&nbsp;
        a(href='https://github.com/mmedal', target='_blank') github.com/mmedal
      li
        em LinkedIn:&nbsp;&nbsp;
        a(href='https://www.linkedin.com/in/mmedal', target='_blank') linkedin.com/in/mmedal
