extends ./_templates/_layouts/default.pug


block content
  .home
    h2 Who am I?
    p I'm Matt, a software engineer living in the Sunset district of San Francisco.
    h2 What's new?
    p Today, July 18 2016 I got engaged!!! Well, I hope I did. Did I, Keilah?
    h2 Where do I work?
    p Currently, I write software to support and automate storage ops at eBay.
    h2 What else?
    p Besides awesome software, I enjoy creating and listening to electronic music, everything related to craft beer, and the outdoors.
    h2 Contact me!
    ul.contact
      li
        em Email:&nbsp;
        a(href='mailto:matt.medal@gmail.com', target='_blank') matt.medal@gmail.com
      li
        em GitHub:&nbsp;
        a(href='https://github.com/scott113341', target='_blank') github.com/mmedal
      li
        em LinkedIn:&nbsp;
        a(href='https://www.linkedin.com/in/scott113341', target='_blank') linkedin.com/in/mmedal
