extends ./_templates/_layouts/default.pug


block content
  .home
    h2 Who am I?
    p I'm Matt, a software engineer living in the San Francisco Bay Area.
    h2 Where do I work?
    p Previously <strong>@ebay</strong> and <strong>@brightwheel</strong>, I'm currently making apps, games, and art for myself!
    h2 What else?
    p Besides quality software, I enjoy spending time with my wife and daughter, playing video games, and everything related to craft beer/coffee.
    h2 Contact me!
    ul.contact
      li
        em Email:&nbsp;&nbsp;
        a(href='') matt.medal at gmail
      li
        em GitHub:&nbsp;&nbsp;
        a(href='https://github.com/mmedal', target='_blank') github.com/mmedal
      li
        em LinkedIn:&nbsp;&nbsp;
        a(href='https://www.linkedin.com/in/mmedal', target='_blank') linkedin.com/in/mmedal
